{% extends 'base.html.twig' %}

{% block title %}Ajouter une liste{% endblock %}

{% block body %}
<section class="bg-transparent">
<div class="container py-5">
    <a href="{{ path('app_board_index') }}" class=" btn btn-info"><i class="fa fa-arrow-left"></i> Précédent</a>
    <h1>Ajouter une Liste</h1>

    {{ include('step/_form.html.twig') }}
        </div>
    </section>
{% endblock %}

