{% extends 'base.html.twig' %}

{% block title %}New Board{% endblock %}

{% block body %}

<section class="bg-transparent">
<div class="container py-5">
    <a href="{{ path('app_board_index') }}" class=" btn btn-info"><i class="fa fa-arrow-left"></i> Précédent</a>

    <h1 class="pb-4">Créer un nouveau tableau</h1>

    {{ include('board/_form.html.twig') }}
    </div>
    </section>
{% endblock %}
